$sbb-rot: #ed1c24;
$sbb-rot2: #b20000;
$sbb-grau: #6b7786;
$sbb-grau2: #3f444d;
$sbb-hellgrau: #f8f8f8;
$sbb-hellgrau2: #f1f1f1;
$sbb-hellgrau3: #b2b2b2;
$sbb-hellgrau4: #dddddd;

$padding2: 33px;



@import "../css/via.css";
@import "../css/style-simon.css";

* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}


html { background-color: black;}

body {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman";
	font-weight:400; 
	font-stretch:normal;
	font-size: 19px;
	}


#container {
	margin:0 auto;
	width: 1024px;
	height: 768px;
/* 	overflow: hidden; */
	background-color: #ebebeb;
	
}

hr.clear {
	clear: both;
	height: 0;
}

.button {
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	background-color: $sbb-grau;
	color: white;
	
	&:hover { 
		background-color: $sbb-grau2;
		-webkit-tap-highlight-color: rgba(0,0,0,0);	
	}
}

header {
	background-color: white;
	height: 38px;
	width: 1024px - (35*2)px;
	padding: 10px 35px 10px 35px;
	
	img.logo {
		float: left;
		margin-top: 6px;
		margin-right: 20px;
	}
	
	#date {
		margin-right: 30px;
		float: left;
		height: 38px;
		margin-left: 120px;
		font-size: 15px;
		vertical-align: middle;
		
		
		p {
			float: left;
			line-height: 38px;
			font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold";
			font-weight:600;
			
		}
		
		.datum{
			margin-right: 20px;
			font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman";
			font-weight:400;
		}
		
		.zeit{
			margin-right: 20px;
			font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman";
			font-weight:600;
			
		}
		
	}
	
	.button {
		
		float: right;
		display: block;
		height: 38px;
		padding: 0 15px 0 15px;

		
		p {
			line-height: 38px;
			color: white;
		}
	}
	
	.question {
		width: auto;
		margin-right: 11px;
	}
	
	.abbrechen {
		background-color: $sbb-rot;
		&:hover {
			background-color: $sbb-rot2;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
	}
		
}


sidebar {
	background-color: $sbb-hellgrau;
	width: 338px;
	height: 768px - 58px;
	display: block;
	position: relative;
	left: 0;
	-webkit-transition: left 250ms ease-out;
    transition: left 250ms ease-out;
	
	img.active_triangle {
		position: absolute;
		left:326px;
		top: 65px;
		z-index: 10;
	}
	
	ul {
		$padding: 16px; 
		
		li {	
			border-bottom: 1px solid #e4e3e3;
			position: relative;
			
			&:last-child {
				height: 176px;

			}
									
			a {
			
				display: block;
				height: 75px - $padding ;
				padding: $padding 25px 0 31px;
				color: black;
				width: 280px;


				p {
					line-height: 47px;
					padding-left: 53px;
					
				}
				
				img {
					float: left;
				}
				
				p.aendern {
					font-size: 14px;
					color: #566373;
					right: 17px;
					top: 15px;
					position: absolute;
				}
			}
			
		}
		
		.active {
			background-color: #243e8f;
			p {
				color: white;
			}
			
			p.aendern {
				color: white;
			}
		}
		
		.vonnach {
			height: 153px;
			a {
				height: 153px - $padding - 4px;
				padding-top: $padding + 4px;
			}
			
			p {
				line-height: 1.6em;
			}
			
			.regular { font-size: 18px; line-height: 1.2em; }
			.bold { margin-bottom: 7px; }
			
			img.icon{
				margin-top: 25px;
			}
			
			p.aendern {
				top: 63px;
			}
		}
		
		.preis {
			border: none;
			.chf {
				font-size: 40px;
			}
		}
		

	}
}
.sidebar-out {
	position: relative;
	left: - 340px;
}

#content {
	position: relative;
	width: 1024px - 338px;
	top: -709px;
	left: 338px;
	
	section {
		width: 1024px - 338px - 2*$padding2;
		height: 709px - 2*$padding2;
		padding: $padding2;	
		
		h1 {
			font-size: 30px;
			color: #576374;
			margin-bottom: 30px;
		}
	}

	section#vonnach {
		
		
		.start_ziel {
			margin-bottom: 30px;
		
			p {
				margin-bottom: 3px;
			}
			
				/* CLEARFIX */	
			.buttoncontainer:before, .buttoncontainer:after {
				content: " ";
			    display: table;
			}
			
			.buttoncontainer:after {
			    clear: both;
			}
			
			input {
				font-size: 22px;
				-moz-border-radius: 4px 4px;
				border-radius: 4px 4px;
				-moz-border-radius-topright: 0 0;
				border-top-right-radius: 0 0;
				-moz-border-radius-bottomright: 0 0;
				border-bottom-right-radius: 0 0;
				padding: 8px 15px 8px 15px;
				line-height: 30px;
				width: 434px;
				float: left;
			}
		
			
			a.start {
				background-color: #84868D;
				font-size: 19px;
				line-height: 36px;
				-moz-border-radius-topleft: 0 0;
				border-top-left-radius: 0 0;
				-moz-border-radius-bottomleft: 0 0;
				border-bottom-left-radius: 0 0;
				padding: 5px 15px 5px 15px;
				color: white;
				width: 120px;
				position: relative;
				text-align: center;
				float: left;
				
				&:hover { 
					background-color: #666766;
					-webkit-tap-highlight-color: rgba(0,0,0,0);	
				}
				
			}
			
			
			
			a.ziel {
				background-color: $sbb-rot;
				font-size: 19px;
				line-height: 36px;
				-moz-border-radius-topleft: 0 0;
				border-top-left-radius: 0 0;
				-moz-border-radius-bottomleft: 0 0;
				border-bottom-left-radius: 0 0;
				padding: 5px 15px 5px 15px;
				color: white;
				width: 120px;
				position: relative;
				text-align: center;
				float: left;
				
				&:hover { 
					background-color: $sbb-rot2;
					-webkit-tap-highlight-color: rgba(0,0,0,0);	
				}
				
			}

			
			
			
			.enterstart {
				margin-bottom: 3px;
			}
		}
		
		.schnellauswahl {
			
			h2 {
				font-size: 23px;
			}
			
			h2.bold { margin-bottom: 20px;}
			
			a.button {
				line-height: 60px;
				padding-left: 15px;
				color: white;
				display: block;
				margin-bottom: 7px;
				
			}
		}
		
	}
	
	section#via {
		position: relative;
		
		
		a.button.via {
			border-radius: 4px 4px;
			border-top-right-radius: 0 0;
			border-bottom-right-radius: 0 0;
			padding: 0px 15px 0px 15px;
			line-height: 60px;
			width: 528px;
			float: left;
			margin-right: 1px;

		}
		
		
		a.button.via.route {
			border-radius: 4px 4px;
			padding: 0px 15px 0px 15px;
			line-height: 60px;
			display: block;
			width: 590px;
			margin-right: 1px;
			margin-top: 5px;

		}
		
		
		a.button.via-info {
			height: 60px;
			width: 60px;
			display: block;
			background: $sbb-grau url('../img/icons/info.png') no-repeat left 8px center;
			float: left;
			border-top-left-radius: 0 0;
			border-bottom-left-radius: 0 0;
			
			&:hover { 
				background-color: $sbb-grau2;
				-webkit-tap-highlight-color: rgba(0,0,0,0);	
			}
			
		}
		
		.buttoncontainer:before, .buttoncontainer:after {
			content: " ";
		    display: table;
		}
		
		.buttoncontainer:after {
		    clear: both;
		}
		
		table {
			background-color: white;
			width: 620px;
			padding: 10px;
			border-collapse: collapse;
			border-radius: 4px 4px;

						
			tr {
				border-bottom: solid 1px $sbb-hellgrau4;
				td, th {
					text-align: left;
					height: 57px;
					padding-left: 12px;
				}
				&:last-child {
					border-bottom: none;
				}
			}
			
			.compressed {
				td, th {
					height: 30px;
				}
			}
		}

	}
	
	section#datum {
		.datumbuttonwrap {
			margin-top: 20px;
		}
		
		a.button {
			display: block;
			width: 295px;
			line-height: 90px;
			text-align: center;
			float: left;
		}
		
		.abheute {
			background:#576374 url("../img/icons/datum-white.png") no-repeat left 20px top 24px;
			margin-right: 20px;
			background-size: 40px;
		}
		
		.anderesdatum{
			background:#576374 url("../img/icons/kalender-ad.png") no-repeat left 20px top 22px;
			background-size: 40px;
		}
			
		
		
	}
	
	section#einfachretour {
		
		a.button {
			display: block;
			width: 295px;
			line-height: 90px;
			text-align: center;
			float: left;
		}
		
		
		
		.einfach {
			background:#576374 url("../img/icons/einfach.png") no-repeat left 20px top 10px;
			margin-right: 20px;	
		}
	
		.retour {
			background:#576374 url("../img/icons/retour.png") no-repeat left 20px top 10px;
		}
		
		
		
	}
	
	section#tickets {
		h2 {
			font-size: 23px;
			padding-top:20px;
			padding-bottom:10px;
			clear:both;
		}
	
		a.counter {
		    line-height: 130px;
		    padding-left: 0px;
		    text-align: center;
		    color: black;
		    font-size:60px;
		    width:127px;
		    margin-left:0px;
		    margin-bottom: 7px;
		    margin-top:10px;
		    float:left;
		    background-color:white;
		}
		
		a.button {
			line-height: 60px;
			padding-left: 0px;
			text-align: center;
			color: white;
			display: block;
			width:60px;
			margin-left:7px;
			margin-bottom: 7px;
			margin-top:10px;
		
		}
		
		a.button.next {
			position: absolute;
			bottom: 0 + $padding2;
			right: 0 + $padding2;
			width: 200px;
			margin: 0;
		} 

  
		.buttonwrap{
		  width:200px;
		  float:left;
		}
		
		.ticketicons{
			width:129px;
			height:129px;
			background-color: white;
			float:left; 
		}
		
		.iconhalbtax{
			background:#576374 url("../img/icons/1klasse.png") no-repeat left 10px top 10px;
			background-size: 40px;
		
		}
		
		.counter {
			-moz-border-radius: 4px 4px;
			border-radius: 4px 4px;
			background-color: #6b7786; }
			 
		.counterwrap{
			float:left;
			margin-left: 10px;
			width:129px;
		}	

	}
	
	section#klasse {
	
		a.button {
			background-size: 40px;
			text-align: center;
			line-height: 90px;
			color: white;
			display: inline-block;
			width:295px;
			margin-left:0px;
			margin-bottom: 7px;
			
		}
		.ersteklasse {
			background:#576374 url("../img/icons/1klasse.png") no-repeat left 20px top 25px;
			margin-right: 20px;	
			background-size: 40px;
		}
	
		.zweiteklasse {
			background:#576374 url("../img/icons/2klasse.png") no-repeat left 20px top 25px;
			background-size: 40px;
		}
     
	}

		
	
}

#content-big {
	position: relative;
	top: -709px;
	left: 1024px;
	-webkit-transition: left 500ms ease-out;
    transition: left 500ms ease-out;

	
	section#zielaendern {

		$padding2: 33px;
		width: 1024px - 2*$padding2 - 3px;
		height: 709px - 2*$padding2 - 3px;
		padding: $padding2;
		-webkit-transition: all 500ms ease-out 1s;
	    -moz-transition: all 500ms ease-out 1s;
	    -o-transition: all 500ms ease-out 1s;
	    transition: all 500ms ease-out 1s;
		
		.zieleingabe {
			height: 430px;
		
			a.zurueck {
				line-height: 36px;
				padding: 5px 15px 5px 35px;
				color: white;
				display: block;
				margin-bottom: 7px;
				width: intrinsic;
				margin-bottom: 15px;
				font-size: 19px;
				background: $sbb-grau url("../img/icons/arrow.png") no-repeat left 10px center;
				
				&:hover {
					background-color: $sbb-grau2;
					-webkit-tap-highlight-color: rgba(0,0,0,0);	
				}
			}
			
			input {
				font-size: 30px;
				-moz-border-radius: 4px 4px;
				border-radius: 4px 4px;
				padding: 5px 15px 5px 15px;
				line-height: 30px;
				width: 925px;
				z-index: 10;
				position: relative; //z-index works only for positioned elements
			}
			
			.button-holder {
				background-color: $sbb-hellgrau;
				padding: 15px;
				position: relative;
				top: -3px;
			}
			
			ul li {
				margin-top: 10px;
				
				&:first-child {
					margin-top: 0;
				}
				
				a.vorschlag {
					line-height: 60px;
					padding-left: 15px;
					color: white;
					display: block;
					
					&:hover {
						background-color: $sbb-grau2;
						-webkit-tap-highlight-color: rgba(0,0,0,0);	
					} 
				}
			}
		} 
		
		.keyboard {
			img {
				margin: 0 auto;
				display: table;
				vertical-align: center;
			}
		}
		
		
	}
}



/* -------- FORMATTING */


.bold {
	font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold";
	font-weight:600;
}

.regular {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman";
			font-weight:400;

}

.hellgrau {
	background-color: $sbb-hellgrau;
}

.hellgrau2 {
	background-color: $sbb-hellgrau2;
}

